<a href="https://colab.research.google.com/github/andresenrique08/ML_2020/blob/master/Reto1/reto1_machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from google.colab import drive
drive.mount('/content/drive')

# Cargar archivos
data  = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Life_Expectancy_Data.csv") 

#Remplazar: "1" si es país desarrollado, "0" si está en vía de desarrollo en columna "status".

data.replace(to_replace="Developing", value=0, method='pad')
data.replace({"Developing": 0})
data.head()



numero_pruebas = -500
#Datos entrenamiento
data_train = data.iloc[0:numero_pruebas,:]

#Datos pruebas
data_test = data.iloc[numero_pruebas:,:]


#variables modelo 1
var_m1 = []


#variables modelo 2
var_m2 = []


#variables modelo 3
var_m3 = []

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data.head()

       Country  Year  ... Income composition of resources  Schooling
0  Afghanistan  2015  ...                           0.479       10.1
1  Afghanistan  2014  ...                           0.476       10.0
2  Afghanistan  2013  ...                           0.470        9.9
3  Afghanistan  2012  ...                           0.463        9.8
4  Afghanistan  2011  ...                           0.454        9.5

[5 rows x 22 columns]